<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block meta %}
        {% include "@SuluWebsite/Extension/seo.html.twig" with {
            "seo": extension.seo|default([]),
            "content": content|default([]),
            "localizations": localizations|default([]),
            "shadowBaseLocale": shadowBaseLocale|default(),
            "defaultLocale": app.request.locale
        } %}
    {% endblock %}

    {% block style %}{% endblock %}
</head>
<body>
    <header>
        {% block header %}
        <nav>
            <ul>
                <li>
                    <a href="{{ sulu_content_root_path() }}">Homepage</a>
                </li>
                {% for item in sulu_navigation_root_tree('main') %}
                    <li>
                        <a href="{{ sulu_content_path(item.url, item.webspaceKey) }}"
                           title="{{ item.title }}">{{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        {% endblock %}
    </header>

    <div id="content">
        {% block content %}
            {# define container element for rendering single page application #}
            <div id="sulu-headless-container"></div>

            {# initialize application with json data of current page to prevent second request on first load #}
            <script>window.SULU_HEADLESS_VIEW_DATA = {{ headless|json_encode|raw }};</script>
            <script>window.SULU_HEADLESS_API_ENDPOINT = '{{ sulu_content_path('/api') }}';</script>
        {% endblock %}
    </div>

    {% block javascripts %}
        {# start single page application by including built javascript code #}
        <script src="/build/headless/js/index.js"></script>
    {% endblock %}
</body>
</html>
